body {
	padding: 0;
	margin: 0;
}

.logo-img {
	display: block;
	width: 100%;
	height: 100%;
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	margin: 0;
	padding: 0;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-grow: 1;
}

.nav-bar a {
	color: rgba(255, 255, 255, 0.67);
	text-decoration: none;
}

.nav-bar a:hover {
	color: rgba(255, 255, 255, 0.9);
}
